.contacts-inner {
  padding: 5rem 0;
}
.adress-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
  align-items: flex-end;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__num,
  &__tel,
  &__social-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    @media (max-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &__tel {
    text-decoration: none;
    margin-top: 1rem;
  }

  &__location {
    width: 43%;
    > svg {
      width: 1.25rem;
      position: relative;
      top: -0.5rem;
      @media (max-width: 768px) {
        width: 0.75rem;
        top: 0;
      }
    }
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__social {
    width: 43%;
    margin-left: auto;
    margin-top: 3rem;

    @media (max-width: 768px) {
      margin: 1rem auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__social-icons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 1.5rem;

    @media (max-width: 768px) {
      width: 70%;

    }
    > a svg {
      width: 1.375rem;
      height: 1.375rem;
      @media (max-width: 768px) {
        width: 1.125rem;
        height: 1.125rem;
      }
    }
  }
}
